@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* margin: 0; */
  /* padding: 0; */
  background-color: #111;
  color: #fff;
}

.lists {
  margin-top: -150px;
}

footer {
  margin: 50px 0;
  text-align: center;
}

footer p span a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer p span a:hover {
  color: #c3181f;
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
